@import "./base";
@import "./partials/header";
@import "./partials/navbar";


body{
    height:6000px !important;
    background-color:rgb(250, 250, 250)
}

.seeAnotherSection{
    margin-top:50px;
    text-align: center;
    color:grey;
    p{
        margin-bottom:20px;
    }
    i{
        font-size:1.8rem
    }
}

.sldier{
    background-image: url("../../images/background.png");
    height:450px;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0 60px;
    @include mq_max(769){
        padding:0;
        text-align: center;
    }
    .text{
        padding: 0 20px;
        h1{
            color:white !important;
            width:900px;
            margin-bottom:10px;
            font-size:3rem;
            @include mq_max(769){
                width:inherit;
                font-size:2rem
            }
        }
        p{
            color:white !important;
            width:500px;
            @include mq_max(769){
                width:inherit;
            }
        }
    }
    .seeAnotherSection{
        position: absolute;
        margin:auto;
        left:630px;
        top:470px;
        color:white;
    }
}

.types{
    margin:150px 0;
    width: 100%;
    text-align: center;
    width:100vw;
    overflow: hidden;
    h1{
        color:rgb(114, 114, 114);
        font-size:2rem;
    }
    hr{
        margin:auto;
    }
    p{
        color:$textColor;
        margin-bottom:5px;
        padding-top:8px
    }
    .items{
        position: relative;
        margin-top:30px;
        overflow: hidden;
        i{
            margin:120px 0;
            @include mq_max(769){
                margin:100px 40px;
            }
            &.fa-arrow-circle-right{
                margin:130px 10px;
            }
            &.fa-arrow-circle-left{
                display: none;
                margin:130px 10px !important;
            }
        }
        .itemsContainer{
            display: flex;
            overflow: hidden;
            width: max-content;
            height:300px;
            margin:0 auto;
            transition: all 0.5s ease-in-out;
            background-color:rgb(248, 248, 248);
            .item{
                width:250px;
                margin: auto 20px; 
                max-height:250px;
                cursor: pointer;
                text-align: left ;
                background-color:white;
                overflow:hidden;
                
                &:hover{
                    transform: translateY(-10px);
                    box-shadow: 8px 8px 20px rgb(206, 206, 206), -1px -1px 20px rgb(206, 206, 206);
                }
                
                img{
                    max-width:100%;
                    &:hover{
                        transform: scale(1.1, 1.1);     
                    }
                    object-fit: fill;
                }
                .text{
                    padding:25px 20px;
                    color:black;
                    &:hover{
                        color:white;
                        background-color:$mainColor2;
                        a{
                            color:white;
                        }
                        p{
                            color:white;
                        }
                    }
                    a{
                        color: black;
                    }
                    p{
                        text-align: left;
                        padding-top:10px;
                    }
                }
            }
        }
    }
}

.importance{
    margin-top:150px;
    padding:50px 100px;
    .content{
        display: flex;
        align-items: center;
        @include mq_max(769){
            flex-direction: column-reverse;
        }
    }
    background-color:#feffd5 ;
    .left{
        @include mq_max(769){
            padding:50px 0px;
            width:100vw;
            padding:0 !important;
            text-align: center;
        }
        h1{
            color:rgb(114, 114, 114);
            font-size:1.7rem;
            margin-bottom:10px;
        }
        hr{
            @include mq_max(769){
                margin:auto;
            }
        }
     
        p{
            width:80%;
            line-height: 1.9;
            color:$textColor;
            @include mq_max(769){
                margin:20px auto;
            }
        }
        
    }
    .right{
        img{
            border:1px solid rgb(255, 151, 31);
            padding:5px;
            border-radius: 50%;
            width:200px;
        }
    }
}

.rightDecision{
    margin-top:150px;
    background-color:white;
    padding:50px 100px;
    .content{
        display: flex;
        align-items: center;
        @include mq_max(769){
            flex-direction: column;
        }
        .left{
            img{
                width:450px;
                @include mq_max(769){
                    width:300px;
                }
            }
        }
        .right{
            @include mq_max(769){
                text-align: center;
            }
            h1{
                font-size:1.7rem;
                color:rgb(114, 114, 114);
            }
            hr{
                margin:5px 0 25px 0;
            }
            ul{
                list-style: disc outside;
                @include mq_max(769){
                    list-style: none;
                }
                li{
                    color:$textColor;
                    @include mq_max(769){
                        padding:10px;
                        border: 1px solid $mainColor2;
                    }
                    margin-top:20px;
                }
            }
        }
    }
    .seeAnotherSection{
        margin-top:0px;
        @include mq_max(769){
            margin-top:50px;
        }
    }
}

.trustUs{
    text-align: center;
    margin-top:150px;
    background-color:#fff2df ;
    padding:50px 100px;
    @include mq_max(769){
        padding:50px 20px;
    }
    h1{
        font-size:1.7rem;
        color:rgb(114, 114, 114);
    }
    hr{
        margin:5px auto 25px;
    }
    p:first-of-type{
        
        margin-bottom:20px;
    }
}

.partners{
    margin-top:150px;
    text-align: center;
    background-color:#F0F0F0;
    padding:50px 0;
    position: relative;
    overflow: hidden;
    h1{
        font-size:1.7rem;
        color:rgb(114, 114, 114);
    }
    hr{
        margin:5px auto 25px;
    }
    i{
        margin:150px 0;
        @include mq_max(769){
            margin:100px 40px;
        }
        &.fa-arrow-circle-right{
            margin-right: 80px;
        }
        &.fa-arrow-circle-left{
            margin-left: 80px !important;
        }
    }
    .items{
        transition: all 0.5s ease-in-out;
        
        display: flex;
        justify-content: center;
        
        img{
            width:80px;
            border-radius: 10px;
            padding:10px 30px;
            margin:10px;
            object-fit: cover;
        }
    }
}

.peopleOpinions{
    display: flex;
    margin:150px 100px;
    @include mq_max(769){
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h2{
        color:rgb(114, 114, 114);
        @include mq_max(769){
            font-size:1.2rem
        }
    }
    hr{
        margin:5px 0 20px 0;
    }
    .left{
        padding-right:40px;
        @include mq_max(769){
            padding:0;
        }
        .newsItem{
            margin-bottom: 30px;
            cursor: pointer;
            box-shadow:5px 5px 10px rgb(221, 221, 221);
            &:hover{
                transform: scale(1.005, 1.005);
            }
            img{
                max-width: 100%;
                object-fit: cover;
            }
            .text{
                padding:10px;
                p{
                    color:$textColor;
                    padding-bottom:5px;
                }
                span{
                    color:$mainColor2;
                    font-size:0.8rem;
                }
            }
        }
    }
    .right{
        @include mq_max(769){
            margin-top:50px;
        }
        .personTalk{
            cursor: pointer;
            padding:20px;
            width:450px;
            margin-bottom:30px;
            box-shadow:5px 5px 10px rgb(221, 221, 221);
            &:hover{
                transform: scale(1.005, 1.005);
            }
            @include mq_max(769){
                width: inherit;
            }
            
            .personInfo{
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                img{
                    padding-right:10px;
                    width:30px;
                    height:30px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
        }
        
    }
}

.contactBar{
    background-color:$mainColor2;
    width:150px;
    padding:7px 40px;
    color:white;
    font-size:1.2rem;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin:auto;
    &:hover{
        background-color:#63d159
    }
}

.downArrow{
    cursor: pointer;
    &:hover{
        color:$mainColor2;
        font-size:1.9rem;
    }
}

.contactForm{
    position: fixed;
    width:400px;
    height:100vh;
    border:1px solid rgb(216, 216, 216);
    right:-500px;
    transition: all 1s ease-in-out;
    top:0;
    z-index: 10000;
    @include mq_max(769){
        &.translateForm{
            right:0;
            margin: 0 0;
            max-width:100vw;
        }
    }

    @include mq_min(769){
        &.translateForm{
            transform: translateX(-500px);
        }
    }
    background-color:white;
    padding:100px 40px;
    .close{
        color:$textColor;
        position: relative;
        top:-20px;
        font-size:1.2rem;
        cursor: pointer;
        &:hover{
            color:red
        }
    }
    h1{
        font-size:2.2rem;
        margin-bottom:10px;
    }
    p{
        color:$textColor;
        margin-bottom:40px;
        font-size:0.8rem;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        div{
            display: flex;
        }
        input{
            border:1px solid grey;
            outline:none;
            padding:10px;
            margin-bottom:30px;
            border-radius: 10px;
            &:first-child{
                margin-right: 27px;
            }
        }
        button{
            background-color:$mainColor2;
            padding:8px;
            font-weight: bold;
            font-size:1.2rem;
            border-radius: 10px;
            margin-top:15px;
            border:none;
            color:white;
            width:200px
        }
    }
}

